body {
  display: flex;
  flex-direction: row;
}
li.card {
  display: inline-block;
  height: 600px;
  border: 2px solid blue;
  width: 600px;
  text-align: center;
}

.card img {
  height: 400px;
  width: 200px;
}

.card p {
  padding: 20px 30px;
}
